body{
    margin: 0;
}
header{
    background-image: url(Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.open-sans-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bg{
    background-color: #f2f4f7;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px 150px 150px;
}
.nav-title{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}
.btn{
    background-color: #4E47FF;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.btn-primary{
    width: 132px;
    height: 48px;
    padding: 12px;
}
 .btn:hover {
      transform: scale(1.1); 
      background-color: #2ecc71; 
    }
.banner-title{
    color: #252432;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin: 200px 200px 37px;
}
.btn-secondary{
    display: block;
    margin: 0 auto 152px;
    width: 174px;
    height: 48px;
    padding: 16px;
}
.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 141px;
}
.action-description{
    width: 517px;
    margin: 62px 0;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.action-subtitle{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}
.action-btn{
    height: 48px;
    width: 235px;
    padding: 12px 36px;
    font-size: 15px;
    font-weight: bold;
}
.action-img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}
.all{
    display: block;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0 150px 150px 150px;
    padding: 50px 142px;
    border-radius: 24px;
    text-align: center;
}
.user{
    margin: 10px 142px;
}
.user-heading{
    font-size: 34px;
    font-weight: bold;
}
.user-container{
    display: flex;
    justify-content: center;
    gap: 158px;
    align-items: center;
}
.user-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-top: 30px;
    margin-bottom: 0px;
}
.user-info{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}
.feedback{
    margin: 0 150px 150px 150px;
}
.feedback-heading{
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin-bottom: 50px;
}
.feedback-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.feedback-section{
    border: 2px solid rgba(242, 237, 237, 1);
    border-radius: 14px;
    padding: 24px;
    background-color: #FFFFFF;
}
.dp{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    object-fit: cover;
}
.reviewer{
    display: flex;
    align-items: center;
    gap: 15px;
}
.reviewer-name{
    margin: 0px;
    color: rgba(0, 0, 0, 0.526);
}
.date{
    margin: 2px;
    color: rgba(0, 0, 0, 0.438);
}
.form-section{
    display: flex;
    justify-content: space-between;
    margin: 0 150px 150px 150px;
}
.section-heading{
    font-size: 97px;
    font-weight: bold;
    margin-right: 100px;
}
.form-container{
    gap: 20px;
}
.form-container label{
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}
.form-btn{
    height: 62px;
    width: 470px;
    padding: 12px 36px;
    font-size: 15px;
}
form input,form textarea{
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.316);
    width: 400px;
    font-size: 18px;
    padding: 20px 32px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 20px;
}
.footer-container{
    text-align: center;
    margin: 100px 450px;
    display: block;
}
ul{
    display: flex;
    justify-content: center;
    gap: 48px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    color: rgba(137, 135, 161, 1);
}
ul li a:hover{
    color: #4E47FF;
    font-size: 16px;
}
.logo-title{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF; 
    margin-bottom: 15px; 
}
.logo-p{
    color: rgba(137, 135, 161, 1);
    font-size: 17px;
    margin-bottom: 20px; 
}
